In [1]:
print('hola')

hola

In [2]:
nombre = 'my name'
print(nombre)

In [3]:
nombre

'my name'

In [4]:
%lsmagic

Available line magics:
%alias  %alias_magic  %autoawait  %autocall  %automagic  %autosave  %bookmark  %cat  %cd  %clear  %colors  %conda  %config  %connect_info  %cp  %debug  %dhist  %dirs  %doctest_mode  %ed  %edit  %env  %gui  %hist  %history  %killbgscripts  %ldir  %less  %lf  %lk  %ll  %load  %load_ext  %loadpy  %logoff  %logon  %logstart  %logstate  %logstop  %ls  %lsmagic  %lx  %macro  %magic  %man  %matplotlib  %mkdir  %more  %mv  %notebook  %page  %pastebin  %pdb  %pdef  %pdoc  %pfile  %pinfo  %pinfo2  %pip  %popd  %pprint  %precision  %prun  %psearch  %psource  %pushd  %pwd  %pycat  %pylab  %qtconsole  %quickref  %recall  %rehashx  %reload_ext  %rep  %rerun  %reset  %reset_selective  %rm  %rmdir  %run  %save  %sc  %set_env  %store  %sx  %system  %tb  %time  %timeit  %unalias  %unload_ext  %who  %who_ls  %whos  %xdel  %xmode

Available cell magics:
%%!  %%HTML  %%SVG  %%bash  %%capture  %%debug  %%file  %%html  %%javascript  %%js  %%latex  %%markdown  %%perl  %%prun  %%pypy  %%python  %%python2  %%python3  %%ruby  %%script  %%sh  %%svg  %%sx  %%system  %%time  %%timeit  %%writefile

Automagic is ON, % prefix IS NOT needed for line magics.

In [5]:
%pwd

'/home/jovyan'

In [6]:
%ls

 00_00_binder.ipynb                     datasets/
 00_00_primer_pasos.ipynb               README.md
 01_01_data_types.ipynb                 _read_me.txt
 01_02_read_iloc_unique_groupby.ipynb   requirements.txt
 01_03_data_wrangling.ipynb            'Sesi√≥n 1.pptx'
'Clase 1.ipynb'

In [7]:
import numpy as np
n = 50
numeros_random = np.random.rand(n)
numeros_random

array([0.05747261, 0.13768113, 0.67712355, 0.52999619, 0.91239309,
       0.2366376 , 0.80743157, 0.56319088, 0.15217952, 0.11849543,
       0.35844649, 0.42649963, 0.91333427, 0.18712886, 0.55177952,
       0.23596838, 0.43323933, 0.28411486, 0.71022043, 0.63746709,
       0.51167962, 0.85449459, 0.00323615, 0.88798177, 0.0024736 ,
       0.97005386, 0.0343208 , 0.90680237, 0.23713355, 0.23584315,
       0.90294482, 0.38188318, 0.5715178 , 0.85924576, 0.575427  ,
       0.61104226, 0.32621992, 0.10887371, 0.52298991, 0.32539344,
       0.74841363, 0.85805897, 0.73086065, 0.70181492, 0.84240377,
       0.76920041, 0.06316834, 0.21696786, 0.92738477, 0.5501701 ])

In [8]:
import math
type(4)

int

In [9]:
type(4.2)

float

In [10]:
type('my name')

str

In [11]:
type(True)

bool

In [12]:
type(2/5)

float

In [13]:
type(None)

NoneType

In [14]:
an_array = [1,2,3,4,10]
an_array

[1, 2, 3, 4, 10]

In [15]:
print(an_array)

[1, 2, 3, 4, 10]

In [18]:
suma = sum(an_array)

In [19]:
mean_an_array = suma/len(an_array)

In [20]:
mean_an_array

4.0

In [21]:
len(an_array)

5

In [22]:
6*10

60

In [23]:
6*10**2

600

In [24]:
6*10**(-1)

0.6000000000000001

In [25]:
math.pi

3.141592653589793

In [26]:
type(math.pi)

float

In [27]:
type('math.pi')

str

In [30]:
otra_array = [2,math.pi,3/5,'a str']
otra_array

[2, 3.141592653589793, 0.6, 'a str']

sum(otra_array

In [31]:
sum(otra_array)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [32]:
x=6
y=8

if x<y:
    print('{} es menor que {} '.format(x,y))
else:
    print('{} es menor que {} '.format(y,x))

6 es menor que 8

In [34]:
my_list = [True, 6<5, 1==3, None is None]
my_list

[True, False, False, True]

In [38]:
for i in my_list:
    print('{} \t {} '.format(i, type(i)))

True 	 <class 'bool'>
False 	 <class 'bool'>
False 	 <class 'bool'>
True 	 <class 'bool'>

In [40]:
x = None
type(x)

NoneType

In [41]:
none_list = [None]*5
none_list

[None, None, None, None, None]

In [42]:
len(none_list)

5

In [44]:
una_lista = ['pos_0','first','second','third','fourth','fifth']
una_lista

['pos_0', 'first', 'second', 'third', 'fourth', 'fifth']

In [46]:
len(una_lista)

6

In [48]:
una_lista[3]

'third'

In [50]:
una_lista[0:4]

['pos_0', 'first', 'second', 'third']

In [52]:
una_lista[:4]

['pos_0', 'first', 'second', 'third']

In [53]:
una_lista[1:4]

['first', 'second', 'third']

In [54]:
una_lista

['pos_0', 'first', 'second', 'third', 'fourth', 'fifth']

In [55]:
una_lista[5]

'fifth'

In [60]:
una_lista[-2:]

['fourth', 'fifth']

In [61]:
una_lista[-4:-1]

['second', 'third', 'fourth']

In [62]:
num_array = np.array([0,1,2,3,4,5,6,7,8,9,10])
num_array

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [63]:
type(num_array)

numpy.ndarray

In [64]:
np.mean(num_array)

5.0

In [65]:
sum(num_array)/len(num_array)

5.0

In [66]:
np.dot(3,4)

12

In [68]:
np.dot([2j,3j],[2j,3j])

(-13+0j)

In [70]:
import pandas as pd
data_set = 'datasets/Cartwheeldata.csv'
df = pd.read_csv(data_set)

In [71]:
df

,ID,Age,Gender,GenderGroup,Glasses,GlassesGroup,Height,Wingspan,CWDistance,Complete,CompleteGroup,Score
0,1,56,F,1,Y,1,62.00,61.0,79,Y,1,7
1,2,26,F,1,Y,1,62.00,60.0,70,Y,1,8
2,3,33,F,1,Y,1,66.00,64.0,85,Y,1,7
3,4,39,F,1,N,0,64.00,63.0,87,Y,1,10
4,5,27,M,2,N,0,73.00,75.0,72,N,0,4
5,6,24,M,2,N,0,75.00,71.0,81,N,0,3
6,7,28,M,2,N,0,75.00,76.0,107,Y,1,10
7,8,22,F,1,N,0,65.00,62.0,98,Y,1,9
8,9,29,M,2,Y,1,74.00,73.0,106,N,0,5
9,10,33,F,1,Y,1,63.00,60.0,65,Y,1,8
10,11,30,M,2,Y,1,69.50,66.0,96,Y,1,6
11,12,28,F,1,Y,1,62.75,58.0,79,Y,1,10
12,13,25,F,1,Y,1,65.00,64.5,92,Y,1,6
13,14,23,F,1,N,0,61.50,57.5,66,Y,1,4
14,15,31,M,2,Y,1,73.00,74.0,72,Y,1,9
15,16,26,M,2,Y,1,71.00,72.0,115,Y,1,6
16,17,26,F,1,N,0,61.50,59.5,90,N,0,10
17,18,27,M,2,N,0,66.00,66.0,74,Y,1,5
18,19,23,M,2,Y,1,70.00,69.0,64,Y,1,3
19,20,24,F,1,Y,1,68.00,66.0,85,Y,1,8
20,21,23,M,2,Y,1,69.00,67.0,66,N,0,2
21,22,29,M,2,N,0,71.00,70.0,101,Y,1,8
22,23,25,M,2,N,0,70.00,68.0,82,Y,1,4
23,24,26,M,2,N,0,69.00,71.0,63,Y,1,5
24,25,23,F,1,Y,1,65.00,63.0,67,N,0,3

In [72]:
df.head()

,ID,Age,Gender,GenderGroup,Glasses,GlassesGroup,Height,Wingspan,CWDistance,Complete,CompleteGroup,Score
0,1,56,F,1,Y,1,62.0,61.0,79,Y,1,7
1,2,26,F,1,Y,1,62.0,60.0,70,Y,1,8
2,3,33,F,1,Y,1,66.0,64.0,85,Y,1,7
3,4,39,F,1,N,0,64.0,63.0,87,Y,1,10
4,5,27,M,2,N,0,73.0,75.0,72,N,0,4

In [73]:
df.head(13)

,ID,Age,Gender,GenderGroup,Glasses,GlassesGroup,Height,Wingspan,CWDistance,Complete,CompleteGroup,Score
0,1,56,F,1,Y,1,62.00,61.0,79,Y,1,7
1,2,26,F,1,Y,1,62.00,60.0,70,Y,1,8
2,3,33,F,1,Y,1,66.00,64.0,85,Y,1,7
3,4,39,F,1,N,0,64.00,63.0,87,Y,1,10
4,5,27,M,2,N,0,73.00,75.0,72,N,0,4
5,6,24,M,2,N,0,75.00,71.0,81,N,0,3
6,7,28,M,2,N,0,75.00,76.0,107,Y,1,10
7,8,22,F,1,N,0,65.00,62.0,98,Y,1,9
8,9,29,M,2,Y,1,74.00,73.0,106,N,0,5
9,10,33,F,1,Y,1,63.00,60.0,65,Y,1,8
10,11,30,M,2,Y,1,69.50,66.0,96,Y,1,6
11,12,28,F,1,Y,1,62.75,58.0,79,Y,1,10
12,13,25,F,1,Y,1,65.00,64.5,92,Y,1,6

In [74]:
df.columns

Index(['ID', 'Age', 'Gender', 'GenderGroup', 'Glasses', 'GlassesGroup',
       'Height', 'Wingspan', 'CWDistance', 'Complete', 'CompleteGroup',
       'Score'],
      dtype='object')

In [75]:
type(df.columns)

pandas.core.indexes.base.Index

In [76]:
index_list = list(df.columns)

In [77]:
index_list.sort()
index_list

['Age',
 'CWDistance',
 'Complete',
 'CompleteGroup',
 'Gender',
 'GenderGroup',
 'Glasses',
 'GlassesGroup',
 'Height',
 'ID',
 'Score',
 'Wingspan']

In [79]:
for i in[df.columns]:
    print(i)

Index(['ID', 'Age', 'Gender', 'GenderGroup', 'Glasses', 'GlassesGroup',
       'Height', 'Wingspan', 'CWDistance', 'Complete', 'CompleteGroup',
       'Score'],
      dtype='object')

In [87]:
y = df[['Height']]
print(y)
print(type(y))

    Height
0    62.00
1    62.00
2    66.00
3    64.00
4    73.00
5    75.00
6    75.00
7    65.00
8    74.00
9    63.00
10   69.50
11   62.75
12   65.00
13   61.50
14   73.00
15   71.00
16   61.50
17   66.00
18   70.00
19   68.00
20   69.00
21   71.00
22   70.00
23   69.00
24   65.00
<class 'pandas.core.frame.DataFrame'>

In [88]:
print(type(x))
print(type(y))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [89]:
df[['Height','Gender']]

    Height Gender
0    62.00      F
1    62.00      F
2    66.00      F
3    64.00      F
4    73.00      M
5    75.00      M
6    75.00      M
7    65.00      F
8    74.00      M
9    63.00      F
10   69.50      M
11   62.75      F
12   65.00      F
13   61.50      F
14   73.00      M
15   71.00      M
16   61.50      F
17   66.00      M
18   70.00      M
19   68.00      F
20   69.00      M
21   71.00      M
22   70.00      M
23   69.00      M
24   65.00      F

In [91]:
df[['Height','Gender']]

    Height Gender
0    62.00      F
1    62.00      F
2    66.00      F
3    64.00      F
4    73.00      M
5    75.00      M
6    75.00      M
7    65.00      F
8    74.00      M
9    63.00      F
10   69.50      M
11   62.75      F
12   65.00      F
13   61.50      F
14   73.00      M
15   71.00      M
16   61.50      F
17   66.00      M
18   70.00      M
19   68.00      F
20   69.00      M
21   71.00      M
22   70.00      M
23   69.00      M
24   65.00      F

In [93]:
df.columns

Index(['ID', 'Age', 'Gender', 'GenderGroup', 'Glasses', 'GlassesGroup',
       'Height', 'Wingspan', 'CWDistance', 'Complete', 'CompleteGroup',
       'Score'],
      dtype='object')

In [99]:
df.loc[:,: 'GenderGroup']

    ID  Age Gender  GenderGroup
0    1   56      F            1
1    2   26      F            1
2    3   33      F            1
3    4   39      F            1
4    5   27      M            2
5    6   24      M            2
6    7   28      M            2
7    8   22      F            1
8    9   29      M            2
9   10   33      F            1
10  11   30      M            2
11  12   28      F            1
12  13   25      F            1
13  14   23      F            1
14  15   31      M            2
15  16   26      M            2
16  17   26      F            1
17  18   27      M            2
18  19   23      M            2
19  20   24      F            1
20  21   23      M            2
21  22   29      M            2
22  23   25      M            2
23  24   26      M            2
24  25   23      F            1

In [95]:
df[['Age', 'Gender', 'GenderGroup']]

    Age Gender  GenderGroup
0    56      F            1
1    26      F            1
2    33      F            1
3    39      F            1
4    27      M            2
5    24      M            2
6    28      M            2
7    22      F            1
8    29      M            2
9    33      F            1
10   30      M            2
11   28      F            1
12   25      F            1
13   23      F            1
14   31      M            2
15   26      M            2
16   26      F            1
17   27      M            2
18   23      M            2
19   24      F            1
20   23      M            2
21   29      M            2
22   25      M            2
23   26      M            2
24   23      F            1

In [103]:
df.iloc[:3,:5]

   ID  Age Gender  GenderGroup Glasses
0   1   56      F            1       Y
1   2   26      F            1       Y
2   3   33      F            1       Y

In [105]:
new_df = df.loc[:3,'Height':'Complete']

In [106]:
new_df

   Height  Wingspan  CWDistance Complete
0    62.0      61.0          79        Y
1    62.0      60.0          70        Y
2    66.0      64.0          85        Y
3    64.0      63.0          87        Y

In [107]:
df.Gender.unique()

array(['F', 'M'], dtype=object)

In [108]:
df.columns

Index(['ID', 'Age', 'Gender', 'GenderGroup', 'Glasses', 'GlassesGroup',
       'Height', 'Wingspan', 'CWDistance', 'Complete', 'CompleteGroup',
       'Score'],
      dtype='object')

In [109]:
df.Height.unique()

array([62.  , 66.  , 64.  , 73.  , 75.  , 65.  , 74.  , 63.  , 69.5 ,
       62.75, 61.5 , 71.  , 70.  , 68.  , 69.  ])

In [114]:
df.groupby(['Gender','GenderGroup']).size()

Gender  GenderGroup
F       1              12
M       2              13
dtype: int64